{% extends "base.html" %}
{% block content %}
<h1>Spending tracker</h1>
<h2>New Tag</h2>
<br>This will be the new tag page. There will be a form with the info to be filled out, and a button to click to save.
<br><a href = "/tags">Back to Tags</a><br>

<div class = "new_form">
    <form action='/tags/new' method="post">
        
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder = "Name" required>
        <br>
        <label for="icon">Icon:</label>
        <input type="number" name="icon" id="icon" placeholder = "Icon" step="1" required>
        <br>

        <button type="submit">Create tag</button>
    </form>
</div>

{% endblock %}