:root {
    --white: #f7f9fb;
    --lightblue: #8fc1e3;
    --midblue: #64a3ca;
    --darkblue: #31708E;
  }

html {
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: var(--white);
}

/* Styling for sidebar in here */
.sidebar {
    height: 100%;
    width: 12vw;
    padding-top: 12vw;
    padding-left: 1vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--darkblue);
} 

.insight > div {
    color: var(--white);
}

.budget {
    padding: 1vw 1vw 1vw 0vw;
    text-align: center;
    font-size: 2vw;
}

.days_till_payday {
    padding: 1vw 1vw 1vw 0vw;
    text-align: center;
    font-size: 2vw;
}

.till_payday {
    padding-bottom: 1vw;
}

.insight > hr {
    color: --white;
    margin-right: 1vw;
    margin-bottom: 1vw;
}
.sidenav {
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    text-decoration: none;
    color: var(--white);
    font-size: 3vh;
    text-align: left;
    padding-top: 1vw;
}

.sidenav a:hover {
    color: var(--lightblue);
}
/* ------------------------- */

/* Styling for main content in here */
.header {
    height: 7vw;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding-left: 9vw;
    color: var(--white);
    background-color: var(--darkblue);
    border-bottom: solid var(--lightblue);
}

.main { 
    margin-left: 13vw;
    margin-top: 10vw;
}

#edit {
    background-color: transparent;
    outline: none;
    border: none;
    color: green
}
#delete {
    background-color: transparent;
    outline: none;
    border: none;
    color:maroon;
}

.new_transaction {
    padding-left: 2vw;
    padding-top: 2vw;
    
}

.new_transaction a {
    border: solid var(--darkblue);
    border-radius: 5px;
    padding: 0.5vw;
    font-size: 3vh;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--midblue);
}

.new_transaction a:hover {
    color: var(--lightblue)
}

.transaction_table {
    border: solid var(--darkblue);
    border-collapse: collapse;
    padding: 2vw;
    margin-left: 2vw;
    margin-top: 2vw;
    font-size: larger;
}
.transaction_table tr td {
    width: 10vw;
}
.transaction_table tr td:nth-last-child(2){
    width:auto;
}
.transaction_table tr td:last-child {
    width: auto;
}
#description_row {
    width: auto
}

.table_row {
    text-align: center;
    padding: 0.5vw;
}
.table_row:nth-child(even) {
    background-color: var(--lightblue);
}
.table_row:nth-child(odd) {
    background-color: var(--midblue);
}
.table_row:hover {
    background-color: lightblue;
}

.m_t_table {
    border: solid var(--darkblue);
    border-collapse: collapse;
    padding: 2vw;
    margin-left: 2vw;
    margin-top: 2vw;
    font-size: larger;
}
.m_t_table tr td {
    width: 10vw;
}
.m_t_table tr td:nth-last-child(2){
    width:auto;
}
.m_t_table tr td:last-child {
    width: auto;
}

.active_row:nth-child(even) {
    text-align: center;
    padding: 0.5vw;
    background-color: var(--lightblue);
}
.active_row:nth-child(odd) {
    text-align: center;
    padding: 0.5vw;
    background-color: var(--midblue);
}
.active_row:hover {
    text-align: center;
    padding: 0.5vw;
    background-color: lightblue;
}

.inactive_row:nth-child(even) {
    text-align: center;
    padding: 0.5vw;
    background-color: lightgray;
}
.inactive_row:nth-child(odd) {
    text-align: center;
    padding: 0.5vw;
    background-color: rgb(182, 182, 182);
}

.edit_form {
    display: flexbox;
    justify-content: space-around;
    text-align: center;
    border: 0.5vw solid var(--darkblue) ;
    border-radius: 1%;
    margin-left: 27vw;
    padding: 1%;
    width: 26vw
}
.edit_form input, textarea, select{
    background-color: var(--white);
    border: 1px solid var(--darkblue);
    height: auto;
    padding-bottom: 2vw;
    font-size: 16px;
    height: auto;
    width: 100%;
    color: var(--darkblue);
}
.edit_form input:focus, textarea:focus, select:focus{
    border-color: var(--darkblue);
}
.edit_form label{
    display: block;
    text-align: left;
    padding: 1vw;
}
.edit_form button{
    margin-top: 1vw;
    background-color: var(--lightblue);
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    height: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 50%;
    text-align: center;
    color: var(--darkblue);
}

.new_form {
    display: flexbox;
    justify-content: space-around;
    text-align: center;
    border: 0.5vw solid var(--darkblue) ;
    border-radius: 1%;
    margin-left: 27vw;
    padding: 1%;
    width: 26vw
}
.new_form input, textarea, select{
    background-color: var(--white);
    border: 1px solid var(--darkblue);
    height: auto;
    padding-bottom: 2vw;
    font-size: 16px;
    height: auto;
    width: 100%;
    color: var(--darkblue);
}
.new_form label{
    display: block;
    text-align: left;
    padding: 1vw;
}
.new_form button{
    margin-top: 1vw;
    background-color: var(--lightblue);
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    height: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 50%;
    text-align: center;
    color: var(--darkblue);
}
/* ------------------------- */