:root {
    --white: #f7f9fb;
    --lightblue: #8fc1e3;
    --midblue: #5085A5;
    --darkblue: #31708E;
    --olive: #687864;
  }

html {
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: var(--white);
}

/* Styling for sidebar in here */
.sidebar {
    height: 100%;
    width: 12vw;
    padding-top: 12vw;
    padding-left: 1vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border: 1px solid red;
} 

.budget_remain {
    border: 1px solid red;
}

.till_payday {
    border: 1px solid red;
}

.sidenav {
    border: 1px solid red;
}
/* ------------------------- */

/* Styling for main content in here */
.header {
    height: 7vw;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding-left: 9vw;
    background-color: var(--olive);
    border: 1px solid red;
}

.main { 
    margin-left: 13vw;
    margin-top: 7vw;
}

.transaction_table {
    border: 1px solid red;
    border-collapse: collapse;
    padding: 1vw;
    margin-left: 1vw;
}
.transaction_table tr td {
    width: 10vw;
}
.transaction_table tr td:nth-last-child(2){
    width:auto;
}
.transaction_table tr td:last-child {
    width: auto;
}
#description_row {
    width: auto
}

#edit {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--white)
}
#delete {
    background-color: transparent;
    outline: none;
    border: none;
    color:maroon;
}

.table_header {
    border-bottom: 1px solid var(--olive);
} 

.table_row {
    border-bottom: 1px solid var(--olive);
    text-align: center;
    padding: 0.5vw;
}
.table_row:nth-child(even) {
    background-color: var(--lightblue);
}
.table_row:nth-child(odd) {
    background-color: var(--midblue);
}
.table_row:hover {
    background-color: var(--darkblue);
}

.m_t_table {
    border: 1px solid red;
    table-layout: fixed;
}

.active_row {
    border: 1px solid red;
}

.inactive_row {
    border: 1px solid red;
}

.edit_form {
    border: 1px solid red;
}

.new_form {
    display: flexbox;
    text-align: center;
    border: 0.5vw solid var(--darkblue) ;
    border-radius: 1%;
    margin-left: 27vw;
    padding: 2%;
    width: 26vw
}

.new_form input, textarea, select{
    background-color: #ffffff;
    border: 1px solid #e5e5e4;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding-bottom: 2vw;
    height: auto;
    width: 100%;
    color: #8a97a0;
}
.new_form label{
    display: block;
}
/* ------------------------- */