<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={{url_for('static', filename='favicon.png')}}>
    <script src="https://kit.fontawesome.com/e7f2007bab.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href={{url_for('static', filename='/style.css')}}>
    <title>{{title}}</title>
</head>
<body>
    <h1 class='heading'> Spending tracker</h1>
    <div class="homepage">
        <div class='homepage_buttons'>
        <div class='button'>
            <a href = "/transactions">View Transactions</a>
        </div>
        </div>
        <div class='homepage_buttons'>
        <div class='button'>
            <a href = "/budget_info">Budget</a>
        </div>
        </div>
    </div>
    <br>
    <blockquote class='quote'>
        "Mo' Money, Mo' Problems" - <cite> The Notorious B.I.G, 1997</cite>
    </blockquote>
</body>
</html>