{% extends "base.html" %}
{% block content %}
<header class="header"><h1>Spending tracker - Edit Merchant</h1></header>

<div class = "main">

<div class = "edit_form">
    <form action='/merchants/{{merchant.id}}/edit' method="post">
        
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value = "{{merchant.name}}">
        <br>
        <label for="icon">Icon:</label>
        <input type="number" name="icon" id="icon" value = "{{merchant.icon_num}}" step="1">
        <br>
        {% if merchant.active %}
            <label for="active">Set inactive:</label>
            <input type="checkbox" name="active" id="active">
        {% else %}
            <label for="active">Set active:</label>
            <input type="checkbox" name="active" id="active">
        {% endif %}
        <input type="hidden" name="status" id="status" value="{{merchant.active}}">
        <button type="submit">Update Merchant</button>
    </form>
</div>
<div class='edit_x'>
    <a href = "/merchants">Back to Merchants</a>
</div>
</div>
{% endblock %}