{% extends "base.html" %}
{% block content %}
<header class="header"><h1>Spending tracker - All Merchants</h1></header>

<div class = "main">
<table class="m_t_table">
    <tr class="table_header">
      <th>Name</th>
      <th>Icon</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
  {% for merchant in active_merchants %}
      <tr class="active_row">
          <td>{{merchant.name}}</td>
          <td>{{merchant.icon_num}}</td>
          <td>{{merchant.active}}</td>
          <td><form action="merchants/{{merchant.id}}/edit">
              <button id='edit'><i class="far fa-edit"></i></button></td>
              </form>
          <td><form action="merchants/{{merchant.id}}/delete" method = "post">
                  <button id='delete'><i class="far fa-trash-alt"></i></button>
              </form>
          </td>
      </tr>
  {% endfor %}
  {% for merchant in inactive_merchants %}
      <tr class="inactive_row">
          <td>{{merchant.name}}</td>
          <td>{{merchant.icon_num}}</td>
          <td>{{merchant.active}}</td>
          <td><form action="merchants/{{merchant.id}}/edit">
              <button id='edit'><i class="far fa-edit"></i></button></td>
              </form>
          <td><form action="merchants/{{merchant.id}}/delete" method = "post">
                  <button id='delete'><i class="far fa-trash-alt"></i></button>
              </form>
          </td>
      </tr>
  {% endfor %}
  </table>
  <div class='new_x'>
    <a href = "/merchants/new">New Merchant</a>
    </div>
  </div>
{% endblock %}