{% extends "base.html" %}
{% block content %}
<header class="header"><h1>Spending tracker - New Merchant</h1></header>
<br>This will be the new merchant page. There will be a form with the info to be filled out, and a button to click to save.
<br><a href = "/merchants">Back to Merchants</a><br>

<div class = "new_form">
    <form action='/merchants/new' method="post">
        
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder = "Name" required>
        <br>
        <label for="icon">Icon:</label>
        <input type="number" name="icon" id="icon" placeholder = "Icon" step="1" required>
        <br>

        <button type="submit">Create Merchant</button>
    </form>
</div>

{% endblock %}