{% extends "base.html" %}
{% block content %}
<h1>Spending tracker</h1>
<h2>Merchant info</h2>
<br>This will be the individual merchant page. It ultimately may not actually be used.
<br><a href = "/merchants">Back to Merchants</a><br>

<table class="merchants_table">
    <tr class="merchants_table_header">
      <th>Merchant</th>
      <th>Icon</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
    <tr class="active_merchant_row">
        <td>{{merchant.name}}</td>
        <td>{{merchant.icon_num}}</td>
        <td>{{merchant.active}}</td>
        <td><form action="merchants/{{merchant.id}}/edit">
            <button><i class="far fa-edit"></i></button></td>
            </form>
        <td><form action="merchants/{{merchant.id}}//delete" method = "post">
                <button><i class="far fa-trash-alt"></i></button>
            </form>
        </td>
    </tr>


{% endblock %}