{% extends "base.html" %}
{% block content %}
<h1>Spending tracker</h1>
<h2>Transactions</h2>
<br>This will be the transactions page, also the main page of the app. There will be a table with all the transaction details in, including merchant and tag info. <br><br>

<table class="transaction_table">
  <tr class="transaction_table_header">
    <th>Date</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Merchant</th>
    <th>Tag</th>
  </tr>
{% for transaction in transactions %}
    <tr class="transaction_row">
        <td>{{transaction.date}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.merchant.name}}</td>
        <td>{{transaction.tag.name}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}