{% extends "base.html" %}
{% block content %}
<h1>Spending tracker</h1>
<h2>Transactions</h2>
<br>This will be the transactions page, also the main page of the app. There will be a table with all the transaction details in, including merchant and tag info. <br><br>
<a href = "/budget_info">Budget</a>
<a href = "/merchants">Merchants</a>
<a href = "/tags">Tags</a>
<a href = "/transactions/new">New Transaction</a><br><br>

<table class="transaction_table">
  <tr class="transaction_table_header">
    <th><i class="far fa-calendar-alt"></i></th>
    <th><i class="fas fa-pound-sign"></i></th>
    <th><i class="fas fa-cash-register"></i></th>
    <th><i class="fas fa-tags"></i></th>
    <th></th>
    <th></th>
  </tr>
{% for transaction in transactions %}
    <tr class="transaction_row">
        <td>{{transaction.date}}</td>
        <td><a href="/transactions/{{transaction.id}}">{{transaction.amount}}</a></td>
        <td>{{transaction.merchant.name}}</td>
        <td>{{transaction.tag.name}}</td>
        <td><form action="/transactions/{{transaction.id}}/edit">
            <button><i class="far fa-edit"></i></button></td>
            </form>
        <td><form action="transactions/{{transaction.id}}/delete" method = "post">
                <button><i class="far fa-trash-alt"></i></button>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}